services:

  n8n:
    image: n8nio/n8n
    volumes:
      - ./data/n8n-data/data:/home/node/.n8n
      - ./data/n8n-data/files:/files
    environment:
      - TZ=Asia/Shanghai
      - GENERIC_TIMEZONE=Asia/Shanghai
      - N8N_SECURE_COOKIE=false
    labels:
      - com.centurylinklabs.watchtower.enable=true
    ports:
      - 45678:5678
    restart: unless-stopped

  xiaohongshu-mcp:
    image: xpzouying/xiaohongshu-mcp
    tty: true
    volumes:
      - ./data/xhs-mcp-data/data:/app/data
      - ./data/xhs-mcp-data/images:/app/images
    environment:
      - TZ=Asia/Shanghai
      - ROD_BROWSER_BIN=/usr/bin/google-chrome
      - COOKIES_PATH=/app/data/cookies.json
    labels:
      - com.centurylinklabs.watchtower.enable=true
    ports:
      - "48060:18060"
    restart: unless-stopped

  web:
    image: nginx:alpine
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    environment:
      - TZ=Asia/Shanghai
    labels:
      - com.centurylinklabs.watchtower.enable=true
    ports:
      - 48080:80
    restart: unless-stopped

  ## 如果需要使用watchtower自动更新镜像，请取消注释以下内容
  # watchtower:
  #   image: containrrr/watchtower
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     - TZ=Asia/Shanghai
  #     - WATCHTOWER_LABEL_ENABLE=true
  #   labels:
  #     - com.centurylinklabs.watchtower.enable=true
  #   restart: unless-stopped
